* {
    margin: 0;
    font-family: sans-serif;
}
body{
    height:100%;
    
}

nav li{
    list-style: none;


}
ul{
    display: flex;
    flex-direction: row;
    gap:10px;
    
}

button, .logo, .mainText{
    color: #F9FAF8;

}
button{
    background-color: #3882F6;
    padding: .7em 2em;
    border: #3882F6;
    border-radius: 5px;
    font-weight: bold;
    
}

nav a, .secondaryText, .right{
    color: #e5e7eb;

}

nav a{
    text-decoration: none;

}


header{
    background-color:#1f2937 ;
    padding: 10px 15%;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 8% 0;
    
}
.logo{
    font-size: 24px;
}
.mainText{
    font-size: 48px;
    font-weight: bolder;
}


.secondaryText{
    font-size: 18px;
    margin: .4em 0;
}


.content{
    display: flex;
    gap: 24px;
    height: 60%;
}
.content .left{
    flex:1;
 

}
.content .right{
    flex:1 1 auto;
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: gray;
    display: block;
    padding: 7em 2em;
}